.m-menu-documents(data-offset-top="100", bs-affix)
  a(ui-sref='communication')
    .m-menu-documents-item(
    ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    ng-class='{"m-menu-document-item-active": false}')
      img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
      img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
      md-tooltip(md-direction="bottom") Список постов

  a(ui-sref='newPost')
    .m-menu-documents-item(
    ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    ng-class='{"m-menu-document-item-active": false}'
    )
      img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
      img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
      md-tooltip(md-direction="bottom") Новое сообщение

  
  .m-menu-documents-item(
  ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
  ng-class='{"m-menu-document-item-active": false}'
  )
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Закрытые
  a(ui-sref='postInfo')
    .m-menu-documents-item(
    ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    ng-class='{"m-menu-document-item-active": false}'
    )
      img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
      img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
      md-tooltip(md-direction="bottom") Просмотр поста

.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
  .m-menu-documents-item(ng-click='vm.sendRequestSelling()', ng-class='{animation: vm.getClassValidationForSubmit()}')
    img.disabled(ng-src='../assets/images/help_desk/backup.svg')
    img.active(ng-src='../assets/images/help_desk/backup-reverse.svg')
    md-tooltip(md-direction="bottom") Отправить
  .m-menu-documents-item(ui-sref='settings')
    img.disabled(ng-src='../assets/images/help_desk/settings.svg')
    img.active(ng-src='../assets/images/help_desk/settings-reverse.svg')
    md-tooltip(md-direction="bottom") Настройки
  .m-menu-documents-item(ng-click='vm.logout()')
    img.disabled(ng-src='../assets/images/help_desk/close.svg')
    img.active(ng-src='../assets/images/help_desk/close-reverse.svg')
    md-tooltip(md-direction="bottom") Закрыть

m-row.m-document.m-flex
  .m-left-body
    .m-row
      h1.text-header {{getPostTheme}}
      // Пост
      .ng-scope
        .modal-header
          br
          br
          #postText.bg-success.post
        br
        br
        .modal-body.modal-body-lists
          .comment
            table.comment-table
              tr
                td
                  .comment-photo
                    img.img-thumbnail(src='{{userAvatar}}', width='100%', height='100%', alt='')
                td
                  // -- Комментарий write --
                  .comment-info
                    p.comment-name {{userName}}
                    .write-comment.addComment
                      p Комментарий
                      text-angular(ng-model='htmlVariable', ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote','bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo'],['justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent'], ['insertImage', 'insertLink', 'insertVideo', 'wordcount', 'charcount']]")
                      br
                      button#sendComment.btn.btn-success(type='button', ng-click='addComment()') Отправить
                      span.text-danger.text-error {{commentError}}
                  // end -- Комментарий write --
          // Комментарий show
          .comments
            hr
            .comment(ng-repeat='comment in comments')
              table.comment-table
                tr
                  td
                    .comment-photo
                      img.img-thumbnail(src='{{comment.creator[0].avatar}}', width='100%', height='100%', alt='')
                  td
                    .comment-info
                      p.comment-name {{comment.creator[0].name}}
                      p.comment-date {{comment.date | date:dateFormat2}}
                      p.comment-text(ng-bind-html='comment.text')
              hr
          // end Комментарий show
      // end Пост