.m-menu-documents(data-offset-top="100", bs-affix)
  a(ui-sref='communication')
    .m-menu-documents-item(
    ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    ng-class='{"m-menu-document-item-active": false}')
      img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
      img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
      md-tooltip(md-direction="bottom") Список постов

  a(ui-sref='newPost')
    .m-menu-documents-item(
    ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    ng-class='{"m-menu-document-item-active": false}'
    )
      img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
      img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
      md-tooltip(md-direction="bottom") Новое сообщение

  
  .m-menu-documents-item(
  ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
  ng-class='{"m-menu-document-item-active": false}'
  )
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Закрытые
  a(ui-sref='postInfo')
    .m-menu-documents-item(
    ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    ng-class='{"m-menu-document-item-active": false}'
    )
      img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
      img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
      md-tooltip(md-direction="bottom") Просмотр поста

.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
  .m-menu-documents-item(ng-click='vm.sendRequestSelling()', ng-class='{animation: vm.getClassValidationForSubmit()}')
    img.disabled(ng-src='../assets/images/help_desk/backup.svg')
    img.active(ng-src='../assets/images/help_desk/backup-reverse.svg')
    md-tooltip(md-direction="bottom") Отправить
  .m-menu-documents-item(ui-sref='settings')
    img.disabled(ng-src='../assets/images/help_desk/settings.svg')
    img.active(ng-src='../assets/images/help_desk/settings-reverse.svg')
    md-tooltip(md-direction="bottom") Настройки
  .m-menu-documents-item(ng-click='vm.logout()')
    img.disabled(ng-src='../assets/images/help_desk/close.svg')
    img.active(ng-src='../assets/images/help_desk/close-reverse.svg')
    md-tooltip(md-direction="bottom") Закрыть

script.
  $(document).ready(function() {
  $(".autocomplete-div").click(function() {
  $(".autocomplete-text").css("display", "none");
  $(".autocomplete-input").css("display", "inline-block");
  $(".autocomplete-input").focus();
  });
  $(".selected-item-close").click(function() {
  $(this).parent().parent().parent().parent().parent().fadeOut(100);
  });
  });   
   
m-row.m-document.m-flex
  .m-left-body
    .m-row
      h1.text-header Новое сообщение
      // Новое сообщение
      .modal-header
        span.text-danger.text-error {{postError}}
      .modal-body
        form.form-horizantal.ng-pristine.ng-valid
          .form-group
            label.col-sm-2.control-label.newPost(for='inputEmail3') Получатели
            .col-sm-10.newPost
              style.
                .autocomplete{margin: 0 0;}
                .employee, .all, .contractor{text-align: left;}
                .all{background: #d3d3bc;}
              .dropdown2
                #dLabel.autocomplete.autocomplete-div(data-toggle='dropdown')
                  span.autocomplete-text Имя, должность, почта или стрелка вниз для ручного поиска
                  // Выбранные юзеры
                  .selected-item(ng-repeat='user in selectedUers track by $index')
                    table.selected-item-table
                      re
                        td
                          .selected-item-avatar
                            img.img-rounded(src='{{user.avatar}}', width='100%', height='100%', alt='')
                        td
                          span.selected-item-name {{user.name}}
                          br
                          span.selected-item-profesion программист
                        td
                          span.selected-item-close(ng-click='deleteUser(user._id)')
                            i.fa.fa-times(aria-hidden='true')
                  // end Выбранные юзеры
                  input.autocomplete-input(type='text', placeholder='Имя, должность, почта или стрелка вниз для ручного поиска')
                span#dLabel.caret.autocomplete-caret(type='button', data-toggle='dropdown')
                // dropdown-menu все юзеры
                ul.dropdown-menu.dropdown-menu-allUsers(aria-labelledby='dLabel')
                  // Получатели все юзеры
                  .autocomplete-allUsers
                    .comment(ng-repeat='user in allUsers track by $index', ng-click='addUserToSelected(user._id)')
                      table.comment-table.autocomplete-table.table-hover
                        tr
                          td
                            .autocomplete-photo
                              img.img-thumbnail(src='{{user.avatar}}', width='100%', height='100%', alt='')
                          td
                            .comment-info
                              p.comment-name.autocomplete-name {{user.name}}
                              p.comment-date.autocomplete-who  ---------- 
                  // end Получатели все юзеры
                  // Юзеры по котегориям
                  .autocomplete-all
                    ul.ui-sdf-autocomplete-dropdown-filters
                      li.all-li
                        .all.filter-parent.ui-sdf-autocomplete-filter
                          .filter-shadow
                          span Все
                      li.ui-sdf-autocomplete-filter-item.selected-filter(ng-click="addAllUsersToSelected()")
                        .employee.filter-parent.ui-sdf-autocomplete-filter
                          .filter-shadow
                          span
                            i.fa.fa-university(aria-hidden='true', style='margin-right: 10px;')
                            |Сотрудники
                      li.ui-sdf-autocomplete-filter-item(ng-click="addAllClientsToSelected()")
                        .contractor.filter-parent.ui-sdf-autocomplete-filter
                          .filter-shadow
                          span
                            i.fa.fa-suitcase(aria-hidden='true', style='margin-right: 10px;')
                            |Все Клиенты
                      // li.ui-sdf-autocomplete-filter-group
                      //   span.filter-child.employee.ui-sdf-autocomplete-filter-group2 Отделы
                      // li.ui-sdf-autocomplete-filter-item(ng-repeat='name in otdel')
                      //   .filter-child.employee.ui-sdf-autocomplete-filter
                      //     .filter-shadow
                      //     span {{name.name}}
                      // li.ui-sdf-autocomplete-filter-group
                      //   span.filter-child.employee.ui-sdf-autocomplete-filter-group2 Сотрудники по должности
                      // li.ui-sdf-autocomplete-filter-item(ng-repeat='name in sotrudniki')
                      //   .filter-child.employee.ui-sdf-autocomplete-filter
                      //     .filter-shadow
                      //     span {{name.name}}
                      // li.ui-sdf-autocomplete-filter-group
                      //   span.ui-sdf-autocomplete-filter-group2 Пользовательские группы
                  // end Юзеры по котегориям
                // end dropdown-menu все юзеры
          br
          br
          br
          br
          .form-group
            label.col-sm-2.control-label.newPost(for='inputEmail3') Тема
            .col-sm-10.newPost
              input.form-control(type='text', placeholder='Тема', ng-model='postTema')
          br
          br
          .form-group
            label.col-sm-2.control-label.newPost(for='inputEmail3') Содержание
            .col-sm-10.newPost
              .write-comment
                text-angular(ng-model='htmlVariable', ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote','bold', 'italics', 'underline', 'ul', 'ol', 'redo', 'undo'],['justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent'], ['insertImage', 'insertLink', 'insertVideo', 'wordcount', 'charcount']]")
          br
          br
          br
          button#saveMessage.btn.btn-success(ng-click='addPost()', type='button') Сохранить
        br
        p.text-muted Данное сообщение увидите только вы и адресат
      // end Новое сообщение'
